/* CSS file */
WindowedApplication
{
	background-color:#555555;
}

.SmallTitle
{
	font-style:italic;
	font-size:11;
	color:#555555;
}

FormItem
{
	label-style-name:SmallTitle;
}

Panel
{
	cornerRadius: 0;
	borderAlpha: 1.0;
	borderColor: #6B6B6B;
	titleStyleName: panelTitle;
	backgroundColor: #E8E8E8;
}
Button
{
	cornerRadius: 0;
	fontWeight: normal;
}
.panelTitle
{
	color: #FFFFFF;
}